<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<link href="{{ url_for('static', path='css/error.css') }}" rel="stylesheet">
				<meta http-equiv="X-UA-Compatible" content="IE=edge" />
				<meta name="viewport" content="width=device-width, initial-scale=1.0" />
				<title>Ошибка</title>
			</html>
			<script
      src="https://kit.fontawesome.com/66aa7c98b3.js"
      crossorigin="anonymous"
    ></script>
		</head>
		<body>
			<div class="container">
				<div class="gif">
					<img src="https://i.postimg.cc/2yrFyxKv/giphy.gif" alt="gif_ing" />
				</div>
				<div class="content">
					<h1 class="main-heading">Упс...</h1>
					<p>
          ...произошла ошибка, попробуйте перепроверить данные.
        </p>
					<a href="/home" target="blank">
						<input type="submit" style="width: auto;" class="floating-button" value="Вернуться на домашнюю страницу">
						</a>
					</div>
				</div>
			</body>
		</html>
