<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="{{ url_for('static', path='css/home.css') }}" rel="stylesheet">
  <script src="/static/home.js"></script>
</head>
  <body>
<table>
  <label hidden id="data"> {{ data }} </label>
      <tr>
        <td>
          <div class="modal">
          <form action="/set_ports" method="post"> 
              <div class="select" id=hardware style="left: 75%;"> 
                <label > IP: </label>
                <select name="hardware_select" id="hardware_select">
                </select>
              </div>
            </div>
        </td>
        <td>
          <div class="modal">
          <input name="submit_button" style="top: 60px; left: 135%;"  type="submit" class="floating-button">
        </div>
        </td>
        </form>
  </tr>
  <tr>
    <td>
      <div class="modal">
        <form action="/select_instruct_hardware" method="post"> 
        <label style="margin-left: -186%; top: 120px; padding: 17px; border-radius: 4%;"> Create combination: </label>
      </div>
    </td>
    <td>
      <div class="modal">
      <input name="submit_button" style="top: 60px; right: 150%;"  type="submit" class="floating-button">
    </div>
    </td>
    </form>
</tr>
</table>
<script>
  const arr_str = document.getElementById("data").innerHTML;
  var min = 2,
    max = 10,
    select = document.getElementById('hardware_select');
    const myArray = arr_str.split(" ");
    console.log(myArray);
    console.log(arr_str);
    
for (var i = min; i<=myArray.length-2; i++){
    var opt = document.createElement('option');
    opt.value = myArray[i-1];
    opt.innerHTML =  myArray[i-1];
    select.appendChild(opt);
}
</script>
</body>