<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="{{ url_for('static', path='css/home.css') }}" rel="stylesheet">
  <script src="/static/home.js"></script>
</head>
  <body>
{{ data }}
<table>
      <tr>
          <td>
            <div class="select" id="div_pin_7">
                <label> PIN_7: </label>
                <select id="pin_7">
                  <option value="0">0</option>
                  <option value="1">1</option>
                </select>
            </div>
            <p></p>
            <div class="select" id=div_pin_8>
                <label> PIN_8: </label>
                <select id="pin_8">
                  <option value="0">0</option>
                  <option value="1">1</option>
                </select>
            </div>
            <p></p>
            <div class="select" id=diiv_pin_9>
                <label> PIN_9: </label>
                <select id="pin_9">
                  <option value="0">0</option>
                  <option value="1">1</option>
                </select>
            </div>
        </td>
    <td>
        <div class="select" id=div_pin_10>
            <label> PIN_10: </label>
            <select id="pin_10">
              <option value="0">0</option>
              <option value="1">1</option>
            </select>
        </div>
        <p></p>
        <div class="select" id=div_pin_11>
            <label> PIN_11: </label>
            <select id="pin_11">
              <option value="0">0</option>
              <option value="1">1</option>
            </select>
        </div>
        <p></p>
        <div class="select" id=div_pin_12>
            <label> PIN_12: </label>
            <select id="pin_12">
              <option value="0">0</option>
              <option value="1">1</option>
            </select>
        </div>
    </td>
    <td>
      <div class="select" id=div_pin_15>
          <label> PIN_15: </label>
          <select id="pin_15">
            <option value="0">0</option>
            <option value="1">1</option>
          </select>
      </div>
      <p></p>
      <div class="select" id=div_pin_16>
          <label> PIN_16: </label>
          <select id="pin_16">
            <option value="0">0</option>
            <option value="1">1</option>
          </select>     
      </div>
    </td>
  </tr>
</table>
