<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="{{ url_for('static', path='css/home.css') }}" rel="stylesheet">
  <title>Выбор компонентов инструкции</title>
  <script src="/static/home.js"></script>
</head>
    <body>
        <div class="container" style="margin-top: 30px;">
        <form name="hardware" method="post" action="/create_instruction">
            <p><label style ="margin-left: 37px; padding: 17px;"> Выберите имя инструкции: </label></p>
            <input type="name" id="name" required class="input-box" size="40">
            <p><label style ="margin-left: 52px; padding: 17px;"> Выберите компоненты: </label></p>
            {% for member in data %}
                <p><input type="checkbox" class="checkbox" data-name={{ member[0] }} name="hardware_select[]" value= {{ member[0] }}></p>
            {% endfor %}
            <p><input style ="margin-left: 112px;" name="submit_button" type="button" class="floating-button" value="Выполнить" onclick="sendData()"></p>
        </form>
    </div>
        <script>      
            function sendData(){
                var array = [];
                var chk_arr =  document.getElementsByName("hardware_select[]");
                var name =  document.getElementById("name").value;
                for (var i = 0; i < chk_arr.length; i++) {
                    if ( chk_arr[i].checked ) {
                    array.push(chk_arr[i].value)
                    }
                }
                console.log(array);

                ip_str= '';
                for (var i = 0; i < array.length; i++) {
                    ip_str = ip_str + array[i] + ',';
                }
                    window.location.href = "/create_instruction?ip="+ ip_str.slice(0, -1) + "&name=" + name;
            }
          </script>
    </body>
</html>

