<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="{{ url_for('static', path='css/home.css') }}" rel="stylesheet">
  <title>Выбор инструкции</title>
  <script src="/static/home.js"></script>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<div class="container" style="margin-top: 30px;">
<form name="test" method="post" action="/select_instruction_result">
    <label style ="margin-left: 28%; top: 120px; padding: 17px;"> Инструкции: </label>
    {% for member in instructions %}
    <p><input type="checkbox" class="checkbox" data-name={{ member }} name="insctruction_select" value={{ member }}></p>
    {% endfor %}
    <p><input type="submit" style="margin-left: 100px;" class="floating-button" value="Выполнить"></p>
</form>
</div>
<script type="text/javascript">
    $("input:checkbox").on('click', function() {
  var $box = $(this);
  if ($box.is(":checked")) {
    var group = "input:checkbox[name='" + $box.attr("name") + "']";
    $(group).prop("checked", false);
    $box.prop("checked", true);
  } else {
    $box.prop("checked", false);
  }
});
</script>
</body>
</html>