<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
</head>
    <body>
        <form name="hardware" method="post" action="/create_instruction">
            <h2>Enter instruction name:</h2>
            <input type="name" id="name" size="40">
            <h2>Select hardware for combination:</h2>
            {% for member in data %}
                <p><input type="checkbox" name="hardware_select[]" value={{ member[0]}}> {{ member[0] }} </p>
            {% endfor %}
            <p><input name="submit_button" type="button" class="floating-button" value="submit" onclick="sendData()"></p>
        </form>
        <script>      
            function sendData(){
                var array = [];
                var chk_arr =  document.getElementsByName("hardware_select[]");
                var name =  document.getElementById("name").value;
                for (var i = 0; i < chk_arr.length; i++) {
                    if ( chk_arr[i].checked ) {
                    array.push(chk_arr[i].value)
                    }
                }
                console.log(array);

                ip_str= '';
                for (var i = 0; i < array.length; i++) {
                    ip_str = ip_str + array[i] + ',';
                }
                    window.location.href = "/create_instruction?ip="+ ip_str.slice(0, -1) + "&name=" + name;
            }
          </script>
    </body>
</html>

