<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="{{ url_for('static', path='css/set_ports.css') }}" rel="stylesheet">
</head>
  <body>
<label hidden id="ports"> {{ ports }} </label>
<table>
  <form id="ports_form" name="ports_form"> 
      <tr>
          <td>
          <div class="select" id=div_pin_1>
              <label> PIN_1: </label>
              <select id="pin_1" name="pin1">
                <option value="0">0</option>
                <option value="1">1</option>
              </select>
          </div>
          <p></p>
          <div class="select" id=div_pin_2>
              <label> PIN_2: </label>
              <select id="pin_2" name="pin2">
                <option value="0">0</option>
                <option value="1">1</option>
              </select>
          </div>
          <p></p>
          <div class="select" id=div_pin_3>
              <label> PIN_3: </label>
              <select id="pin_3" name="pin3">
                <option value="0">0</option>
                <option value="1">1</option>
              </select>
          </div>
          <p></p>
        <div class="select" id=div_pin_4>
            <label> PIN_4: </label>
            <select id="pin_4" name="pin4">
              <option value="0">0</option>
              <option value="1">1</option>
            </select>
        </div>
        <p></p>
        <div class="select" id=div_pin_5>
            <label> PIN_5: </label>
            <select id="pin_5" name="pin5">
              <option value="0">0</option>
            </select>
        </div>
        <p></p>
        <div class="select" id=div_pin_6>
            <label> PIN_6: </label>
            <select id="pin_6" name="pin6">
              <option value="0">0</option>
            </select>
        </div>
        <p></p>
            <div class="select" id="div_pin_7">
                <label> PIN_7: </label>
                <select id="pin_7" name="pin7">
                  <option value="0">0</option>
                  <option value="1">1</option>
                </select>
            </div>
            <p></p>
            <div class="select" id=div_pin_8>
                <label> PIN_8: </label>
                <select id="pin_8" name="pin8">
                  <option value="0">0</option>
                  <option value="1">1</option>
                </select>
            </div>

          </td>
          <td>
            <div class="select" id=diiv_pin_9>
                <label> PIN_9: </label>
                <select id="pin_9" name="pin9">
                  <option value="0">0</option>
                  <option value="1">1</option>
                </select>
            </div>
            <p></p>
        <div class="select" id=div_pin_10>
            <label> PIN_10: </label>
            <select id="pin_10" name="pin10">
              <option value="0">0</option>
              <option value="1">1</option>
            </select>
        </div>
        <p></p>
        <div class="select" id=div_pin_11>
            <label> PIN_11: </label>
            <select id="pin_11" name="pin11">
              <option value="0">0</option>
              <option value="1">1</option>
            </select>
        </div>
        <p></p>
        <div class="select" id=div_pin_12>
            <label> PIN_12: </label>
            <select id="pin_12" name="pin12">
              <option value="0">0</option>
            </select>
        </div>
        <p></p>
      <div class="select" id=div_pin_13>
        <label> PIN_13: </label>
        <select id="pin_13" name="pin13">
          <option value="0">0</option>
          <option value="1">1</option>
        </select>
    </div>
    <p></p>
      <div class="select" id=div_pin_14>
        <label> PIN_14: </label>
        <select id="pin_14" name="pin14">
          <option value="0">0</option>
          <option value="1">1</option>
        </select>
    </div>
    <p></p>
      <div class="select" id=div_pin_15>
          <label> PIN_15: </label>
          <select id="pin_15" name="pin15">
            <option value="0">0</option>
            <option value="1">1</option>
          </select>
      </div>
      <p></p>
      <div class="select" id=div_pin_16>
          <label> PIN_16: </label>
          <select id="pin_16" name="pin16">
            <option value="0">0</option>
            <option value="1">1</option>
          </select>     
      </div>
    </td>
    <td>
      <input name="submit_button" class="floating-button" onclick="sendData()">
    </td>
  </tr>
  <form>
</table>
<script>
  const arr_str = document.getElementById("ports").innerHTML;
  const obj = JSON.parse(arr_str);
  console.log(obj.ip);
  window.onload = () => {
    for (let portNum = 1; portNum <= 16; portNum++) {
      if (portNum === 5 || portNum === 6 || portNum === 12) {
        continue;
      }
      [...document.querySelector('#pin_' + portNum).options]
        .filter(x => x.value === obj.ports[portNum].toString())[0]
        .setAttribute('selected', true);
    }
  };
  function sendData(){
    var formEl = document.forms.ports_form;
    var formData = new FormData(formEl);
    
    console.log(resultJson);
    var arr = [];
    for (let portNum = 1; portNum <= 16; portNum++) {
      arr.push(formData.get('pin'+portNum.toString()));
    }
    var resultJson = {};
    resultJson['ip'] = obj.ip;
    resultJson['ports'] = arr;
    console.log(resultJson);
    var xhr = new XMLHttpRequest();
    var url = "result";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    var data = JSON.stringify(resultJson);
    xhr.send(data);
  }
  //window.location.href = 'home';
</script>
</body>